/* Head fonts */
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Rampart+One&display=swap');

/* Body fonts */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

/* variables */
:root {
    /* fonts */
    --head-font: 'Rampart One', cursive;
    --body-font: 'Architects Daughter', cursive;;

    /* colors */
    --yellow: #ffd55d;
    --light-yellow: #ffde83;
    --light-blue: #115695;
    --blue: #0c4574;
}

body {
    margin: 0;
    font-family: var(--body-font);
    letter-spacing: 1.5px;
}


/* HEADER */
.header {
    background-color: var(--yellow);
    color: var(--blue);
    justify-content: center;
}

.header-image {
    max-width: 150px;
    display: block;
    margin: auto;
}

.header-title {
    font-family: var(--head-font);
    margin-block-start: 0;
    margin-block-end: 0;
    padding-bottom: 0.5rem;;
    text-align: center;
}


/* INPUT TRANSLATE OUTPUT AREA */
.translation-area {
    max-width: 600px;
    padding: 2rem;
    margin:auto;
    text-align: center;
}

.text-input {
    display: block;
    box-sizing: border-box;
    min-width: 100%;
    min-height: 157px;
    border-radius: 2rem;
    border-color: var(--yellow);
    border-width: 2px;
    outline: none;
    padding: 1rem;
    margin: 0;
}

.text-input::placeholder {
    font-family: var(--body-font);
}

.btn-translate {
    background-color: var(--yellow);
    color: var(--blue);
    font-family: var(--body-font);
    font-weight: bold;
    letter-spacing: 1.5px;
    border: none;
    border-radius: 3rem;
    padding: 0.5rem;
    margin: 1rem;
}

.btn-translate:hover {
    background-color: var(--light-blue);
    color: var(--light-yellow);
}

.translation-prompt {
    font-weight: bold;
    color: var(--light-blue);
    padding-bottom: 1rem;
    margin: 0;
}

.text-output {
    display: block;
    box-sizing: border-box;
    min-width: 100%;
    min-height: 157px;
    border-radius: 2rem;
    border-color: var(--light-blue);
    border-width: 2px;
    outline: none;
    padding: 1rem;
    margin: 0;
}

.text-output::placeholder {
    font-family: var(--body-font);
}


/* FOOTER */
.footer {
    width: 100%;
    background-color: var(--blue);
    color: white;
}

.footer-title {
    color: var(--yellow);
    font-family: var(--head-font);
    font-size: 25px;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 1rem;
    margin-top: 0;
}

.footer-text {
    /* color: var(--light-yellow); */
    font-family: var(--body-font);
    text-align: center;
    padding: 0rem 1rem;
    margin-bottom: 0;
}